<launch>
  <arg name="cam_frame_rate" default="10.0"/>
  <arg name="config_name" default="$(find fyt_cfg)/yaml/green_led.yaml"/>
  <arg name="video_name" default="none"/>
  <arg name="feedback_name" default="none"/>
  
  <!-- start the camera -->
  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node">

    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_1280x960.yaml"/>
    <param name="width" value="640"/>
    <param name="height" value="480"/>
    <param name="framerate" value="$(arg cam_frame_rate)"/>

    <param name="camera_frame_id" value="raspicam"/>

  </node>

  <node name="republish" type="republish" pkg="image_transport" args="compressed in:=/raspicam_node/image raw out:=/republish/image_raw" />
  
  <!-- start the camshift node -->
  <node type="camshift_node" pkg="camshift_ros" name="camshift" args=" --image /republish/image_raw --state /camshift/state --feedback $(arg feedback_name) --config $(arg config_name) --video $(arg video_name)"/>
  
</launch>
